{% extends 'main/layout.html' %}

{% block title %}Prediction{% endblock %}

{% block content %}
    <div class="features">
        <h1>Prediction</h1>
        <form metod="post">
            <input type="text" placeholder="DNA sequence" class="form-control"><br>
            <input type="text" placeholder="pH" class="form-control"><br>
            <input type="text" placeholder="Temperature, °C" class="form-control"><br>
            <input type="text" placeholder="Cofactor" class="form-control"><br>
            <input type="text" placeholder="NaCl" class="form-control"><br>
            <input type="text" placeholder="KCl" class="form-control"><br>
            <button class="btn btn-outline-dark btn-lg" type="submit">Predict</button>
        </form>
    </div>

{% endblock %}
